<form method="post" action="{{ path('approvisionnement_delete', {'idapprovisionnement': approvisionnement.idapprovisionnement}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ approvisionnement.idapprovisionnement) }}">
    <button class="btn">Delete</button>
</form>
