{% extends 'base.html.twig' %}

{% block title %}Objet index{% endblock %}

{% block body %}
    <h1>Objet index</h1>

    <table class="table">
        <thead>
            <tr>
               
                <th>Description</th>
                <th>Quantite</th>
                <th>Valeur</th>
               
            </tr>
        </thead>
        <tbody>
        {% for objet in objets %}
            <tr>
               
                <td>{{ objet.description }}</td>
                <td>{{ objet.quantite }}</td>
                <td>{{ objet.valeur }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
