<form method="post" action="{{ path('rubrique_delete', {'refrubrique': rubrique.refrubrique}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rubrique.refrubrique) }}">
    {% if is_granted('ROLE_EDITEUR') %}
    <button class="btn">Supprimer</button>
    {% endif %}
</form>
